/* html, body {overflow-x: hidden;} */

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

/* PERSONALIZANDO BOOTSTRAP */
.row {margin-left: 0; margin-right: 0;}
.row>* {padding: 0;}

/* HEADER */
html, body, header {height: 100vh;}

header {
  background: url('../images/desktop/image-header.jpg') center;
  background-size: auto 100%;
}

/* NAVBAR HEADER */
.navbar-header {
  display: flex;
  align-items: center;
  padding: 30px 35px;
}

.navbar-header .navbar-nav a {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  margin-right: 35px;
  transition: color .5s;
}

.menu-toogle {display: none;}

.navbar-header .navbar-nav a:hover {color: hsl(198, 62%, 26%);}

.navbar-header .navbar-nav li:last-of-type a {margin: 0;}

.navbar-header .navbar-nav .contato{
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 300px;
  transition: .5s;
}

.navbar-header .navbar-nav .contato:hover {
  color: #ffffff;
  background-color: #6fcfff;
}

/* NAVBAR RESPONSIVO */
.triangulo {display: none;}

.navbar-menu-header.on .triangulo {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 0; 
  height: 0; 
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent; 
  border-right:25px solid #ffffff; 
}

.navbar-menu-header.on .navbar-nav {
  display: flex;
  background-color: #ffffff;
  margin-top: 10px;
  flex-direction: column;
  text-align: center;
  padding: 15px 15px 20px 15px;
}

.navbar-menu-header.on .navbar-nav li {padding: 10px 0;}

.navbar-menu-header.on .navbar-nav a {
  margin: 0;
  color: #807f8b;
  font-weight: 600;
}

.navbar-menu-header.on .navbar-nav a:hover {color: #4b4b4e}

.navbar-menu-header.on  .contato {
  color: #000000 !important;
  background-color: #eecb06;
}

.navbar-menu-header.on  .contato:hover {
  color: #ffffff !important;
  background-color: #ffd900 !important;
}

.navbar-menu-header.on  .contato:hover {background-color: #fbd601;}

/* CAPA */
#capa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#capa h1 {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.2em;
  padding: 60px 0 70px 0;
}

/* #capa img {
  position: absolute;
  top: 45vh;
} */

/* CONTAINERS */
.container-pad-d {padding: 125px 90px 125px 125px;}
.container-pad-e {padding: 125px 125px 125px 90px;}

.container-img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* CONTAINER FORMATAÇÃO */
h2 {
  color: #23313e;
  font-family: 'Fraunces';
  font-weight: 900;
  padding-bottom: 30px;
}

p {color: #858390;}

.learn-more {display: inline-block; margin-top: 30px;}

.learn-more a {
  font-family: 'Fraunces';
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-size: 14px;
  padding: 0 8px;
}

.learn-more span {
  display: block;
  height: 8px;
  border-radius: 300px;
  position: relative;
  bottom: 10px;
  z-index: -1;
  transition: background .5s;
}

#transofrm-brand span {background-color: #f5ea99;}
#transofrm-brand .learn-more a:hover + span {background-color: #fad300;}

#stand-out span {background-color: #fcdad2;}
#stand-out .learn-more a:hover + span {background-color: #fe6f67;}

/* GRAPHIC && PHOTOGRAPHY */
#graphic, #photography {
  height: 550px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

#graphic img, #photography img {position: absolute;}

#graphic, #graphic .texto p {color: #265a4e;}

#photography, #photography .texto p {color: #195570;}

.texto {
  position: relative;
  font-size: 16px;
  padding: 0 170px 40px 170px;
  text-align: center;
}

#graphic h3, #photography h3 {
  font-family: 'Fraunces';
  font-weight: 900;
  padding-bottom: 20px;
}

/* CLIENT TESTIMONIALS  */
#client-testimonials {padding: 140px 150px;}

#client-testimonials h3 {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 0.2em;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #a7a8aa;
}

/* CARD CLIENT */
.card-client {
  position: relative;
  text-align: center;
  padding: 0 15px;
}

.card-client img {
  width: 60px;
  height: 60px;
  border-radius: 120px;
  margin-bottom: 50px;
}

.card-client p {
  font-size: 16px;
  color: #626367;
  margin-bottom: 100px;
}

/* AUTOR E CARGO */
.autor-cargo {
  position: absolute;
  bottom: 0;
  width: 100%;

}

.autor-cargo h4 {
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 18px;
  margin: 0;
}

.autor-cargo span {
  color: #bbbab8;
  font-size: 14px;
}

/* IMAGENS FOOTER */
#imgs-after-footer {overflow: hidden;}
#imgs-after-footer img {width: 105%;}

/* FOOTER */
footer {
  background: #90d4c5;
  text-align: center;
  padding: 50px 0;
}

footer a {text-decoration: none; }

.navbar-footer a {
  color: #529687;
  padding: 0 30px;
  transition: color .8s;
}

.navbar-footer {padding: 40px 0 70px 0;}

.navbar-footer a:hover {color: #ffffff;}

.redes-sociais-footer a {padding: 0 10px; fill: #2C7566; transition: fill .8s;}

.redes-sociais-footer a:hover {fill: #ffffff;}

.red {background-color: red;}
.green {background-color: green;}